{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}


{% block main %}

    <!-- SYMBOL -->
    <form action="/sell" method="post" id="s1">
    <div class="mb-3">
        <select name="symbol">
            <option>-SYMBOL-</option>
            {% for s in symbols if symbols %}
                <option value="{{ s }}">{{ s }}</option>
            {% endfor %}
        </select>
        <input autocomplete="off" class="mx-auto w-auto" disabled type="text">
    </div>
    
    <!-- SHARES -->
    <div class="mb-3">
        <input autocomplete="off" class="mx-auto w-auto" id="s-shares" name="shares" placeholder="NUM SHARES" type="text">
        <input class="mx-auto w-auto" disabled type="text">
    </div>
    
    <!-- DOLLARS -->
    <div class="mb-3">
        <input autocomplete="off" class="mx-auto w-auto" disabled id="b-dollars" name="dollars" placeholder="$ TO RECEIVE" type="text">
        <input class="mx-auto w-auto" disabled type="text">
    </div>
    
    <!-- FORM SWITCH-->
    <div class="mb-3 form-check form-switch" style="margin-left: 42%; text-align: left;">
        <input class="mx-auto w-auto form-check-input form-switch" id="flexSwitch" type="checkbox" onchange="sellSwitch()">
        <label for="flexSwitch">Trade cash value</label>
     </div>

    <!-- SUBMIT -->
    <div>
        <button class="btn btn-outline-danger" type="submit">Sell Shares</button>
        <button class="btn btn-danger" name="maximum-order-size" type="submit">Sell Max</button>
        <button class="btn btn-secondary" disabled type="submit">Buy Shares</button>
    </div>
    </form>

        <script src="/static/script.js"></script>

{% endblock %}